

.about {
  padding:60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.about h1{
  text-align: center;
  
}

.about .container{
  display: flex;
  flex-direction: row;
}
video{
  max-width: 90%;
  max-height: 80%;
}
video:hover{
  transition: 0.4s;
  transform: scale(1.1);
  box-shadow: 1px 5px 4px grey; 
}
.about .col2{
  float: left;
  width: 55%;
  padding: 20px;
  text-align: justify;
}
/* .col2{
  padding-right:80px;
  padding-left: 60px;
} */
.about p {
   line-height: 1.5;
}

.about button{
  margin-top: 10px;
  border:none;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size:16px;
  padding: 10px 15px;
  border-radius: 20px;
  transition: 0.4s;
}
.about button:hover{
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.05);
  box-shadow: 2px 4px 3px grey;
  
}