

.about {
  background-image:url('https://antartisdevelopers.com/public/back-end/images/bg/bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background: visibility 7px;
    padding: 5% 7%;
}


video{
  max-width: 90%;
  max-height: 80%;
}
video:hover{
  transition: 0.4s;
  transform: scale(1.1);
  box-shadow: 2px 5px 2px grey; 
}

.col{
  width: 48%;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.col2{
  width: 52%;
  margin-right: 7%;
  text-align: justify;

}
.aboutstyle{
  display: flex;
margin-top: 3%;
    flex-direction: row;
}
@media  screen and (max-width:1200px) {
  .aboutstyle{
    flex-wrap: wrap;
  }
  .col{
    width: 90%;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .col2{
    width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  }

}


