

.about {
  background-image:url('https://antartisdevelopers.com/public/back-end/images/bg/bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background: visibility 7px;
  padding:60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.about h1{
  text-align: center;
  
}

.about .container{
  display: flex;
  flex-direction: row;
}
video{
  max-width: 90%;
  max-height: 80%;
}
video:hover{
  transition: 0.4s;
  transform: scale(1.1);
  box-shadow: 2px 5px 2px grey; 
}
.about .col2{
  float: left;
  width: 55%;
  padding: 20px;
  text-align: justify;
}
/* .col2{
  padding-right:80px;
  padding-left: 60px;
} */


