.info-wrap{
    background-color: #061945;
    color: white;
}
.sidelabels{
    color: rgb(192, 204, 228);
	text-decoration: underline;
    text-underline-offset: .5rem;
    fontWeight:"600"
}
.dbox{
    line-height: 35px;
}
.contact-item{
    background-image:url('https://i.makeagif.com/media/1-12-2021/YsWRDA.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;

}
.contactbtn{
    margin-top: 9px;
    border:none;
    background-color: #061945;
    color: white;
    font-weight: bold;
    font-size:14px;
    letter-spacing: 1px;
    padding: 7px 20px;
    border-radius: 20px;
    transition: 0.4s;
}
.contactbtn:hover{
    cursor: pointer;
   transition: 0.2s;
   color: white;
   transform: scale(1.02);
   box-shadow: 2px 3px 2px grey;
   
}