.error-container{
    height: 100vh;
    width: 100vw;
}
.error-img{
    margin-top: 2.5rem;
    height: 70%;
    width: 40%;
}


@media (max-width: 1024px) {
    .error-img{
        margin-top: 8rem;
        height: 60%;
        width: 48%;
    }
}

@media (max-width: 992px) {
    .error-img{
        margin-top: 2.5rem;
        height: 50%;
        width: 25%;
    }
}
@media (max-width: 768px) {
    .error-img{
        margin-top: 8rem;
        height: 50%;
        width: 65%;
    }
}