a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: wheat;
	text-decoration: underline;
    text-underline-offset: .5rem;
}
.page-footer{
	text-align: justify;
	color: white;
}
.footer-copyright{
	padding-bottom: 0.6%;
}
footer{
	background-color: rgb(170, 170, 179);
	/* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrKT8GGFg6PF_1u5Xwsob2tOCMwUI7Dqy8wQ&usqp=CAU');	background-repeat: no-repeat;
	background-size: cover; */
	background-color: #061945;
	padding: 0.2% ;
}
