
/* Navigation Bar */
nav{
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar{
  padding: 0 5.5rem .5rem;
  background-color: #ffffff;
}

.nav-item{
  padding: 0 12px;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 16px;
  font-weight: 500;
  color: #061945;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #E41D24;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.15rem;
}

/* .dropdown:hover .dropdown-menu {
    display: block; 
 } */
 .dropdown .nav-link:focus{
    color: #E41D24;
    text-decoration: none;
}
 .dropdown-menu{
     padding: 0;
     border-top: solid .2rem #E41D24;
 }
 .dropdown-menu li a:focus{
     background-color: #E9ECEF;
 }

 /* Align Bootstrap Dropdown icon */
.nav-item .dropdown-toggle::after {
  vertical-align: 0.15rem;
}


@media screen  and (max-width:1024px){
  .navbar{
    padding: 0 3rem .5rem;
  }
 }
 @media screen  and (max-width:800px){
  .navbar{
    padding: 0 1rem;
  }
 }


