
/* Navigation Bar */
nav{
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar{
  padding: 0 2rem .5rem;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZr3TQDedAg5Sum1mwVrqv0aXKvpl0i5anXqbpno8AtlmxWDkCGTI91eZmWERG48MhkoE&usqp=CAU');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-item{
  padding: 0 15px;
}

.navbar-dark .navbar-nav .nav-link{
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #E41D24;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.15rem;
}

/* .dropdown:hover .dropdown-menu {
    display: block; 
 } */
 .dropdown .nav-link:focus{
    color: #E41D24;
    text-decoration: none;
}
 .dropdown-menu{
     padding: 0;
     border-top: solid .2rem #E41D24;
 }
 .dropdown-menu li a:focus{
     background-color: #E9ECEF;
 }

 /* Align Bootstrap Dropdown icon */
.nav-item .dropdown-toggle::after {
  vertical-align: 0.15rem;
}


