#periodical-section{
   padding: 5% 7%;
}

.periodical-img{
    margin-top: 2rem;
    width: 75%;
    height: 75%;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    transition: transform 400ms ease-out;
}
.periodical-img:hover{
    transform: scale(1.15);
}

