.reviews{
  display: flex;
  flex-direction: column;
  /* background-image:url('https://i.makeagif.com/media/1-12-2021/YsWRDA.gif'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed; */
  align-items:center;
  padding: 5% 7%;
}

.reviewscontainer{
  align-content: center;
  justify-content: center;
  width: 60%;
  height: 280px;
  margin: 5% 10%;
  padding-top: 7%;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd6aa421-150b-4061-a4a5-11496e857ae7/d9ot3d9-ca23e7e8-54bf-4a22-9911-a86e0eae975c.png/v1/fill/w_1024,h_576,q_80,strp/black_blue_gradient_wallpaper_by_haituga_d9ot3d9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvZmQ2YWE0MjEtMTUwYi00MDYxLWE0YTUtMTE0OTZlODU3YWU3XC9kOW90M2Q5LWNhMjNlN2U4LTU0YmYtNGEyMi05OTExLWE4NmUwZWFlOTc1Yy5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.h4q0ImB1ygVyNn_r_DpVCilL0ifHYApQCqg8g22qTTg');	
  background-repeat: no-repeat;
	background-size: cover;
  color: rgb(191, 191, 248);
  box-shadow: 4px 5px 4px #314163;
}
.reviewscontainer:hover{
  transition: 0.5s ease-in-out;
  transform: scale(1.01);
  box-shadow: 5px 6px 5px #061945;
}
.reviewsimg{
  height: 30%;
  width:30%;
  border-radius: 45%;
  background-color: rgb(175, 199, 219);
  padding: 1.2% 1.2% 0 1.2%;
margin-right: 10%;
}
.imgname{
  text-align: center;
  color: #061945;
  font-weight: bolder;
}
.cc{
  display: flex; 
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.reviewstext{
  width:64%;
  color: white;
  text-align: justify;
  font-size: 15px;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6px;
}

@media  screen and (max-width:1200px) {
.reviewscontainer{
 height: 310px; 
}
  .reviewsimg{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  overflow:hidden;
  width: 100%;
  height: 300px;  
  transform-origin:top;
}
  .reviewstext{
    width: 70%;
    height: 70%;
    display: flex;
    overflow-y: hidden;
  }

}
@media  screen and (max-width:690px) {

.reviewscontainer{
height: 350px;
}}
@media  screen and (max-width:570px) {
  .reviewscontainer{
height: 390px;
  }
}
@media  screen and (max-width:490px) {
  .reviewscontainer{
    height: 430px;
  }
}