#tinker-times-section{
   padding: 7% 7%;
}

.tinker-times-card{
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.tinker-times-img{
    margin-top: 1rem;
    width: 75%;
    height: 75%;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    transition: transform 400ms ease-out;
}
.tinker-times-img:hover{
    transform: scale(1.15);
}

@media (max-width: 992px) {
    #tinker-times-section {
      padding: 20% 7%;
    }
    
  }

