* {
    margin: 0;
    padding: 0;
}

.what-we-do-heading{
     text-align: center;
     position:relative;
    color: #061945;
    margin-top:4.9rem;
}



.main-container {
    margin: 60px auto;
    width: 415px;
    height:390px;
    border-radius: 50%;
    background-image: url('https://i.pinimg.com/originals/a1/ba/2c/a1ba2c150d44d387f565a87c54351bf8.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position:relative;
    margin-bottom:190px;
    box-shadow: 0px 2px 3px 0.5px #37383a;
}
.whatwedostyle {
    /* perspective: 800px; */
    background-color:#e9eff0;
  padding: 5% 7% 7%;
  align-items:center;

}
.center-div {
   position: relative;
   top: 80%;
   margin-top: -30px;
   width: 80%;
   left: 50%;
   transform: translate(-50%,-50%); 
}

.center-div h2 {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.center-div p {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
    line-height: 1.8;

}

.choices {
    display: flex;
}



.left-top,
.right-top,
.right-bottom,
.left-bottom {
    position: absolute;
    display: flex;
    transition: .6s;
    cursor: pointer;
    width: 100%;
    user-select: none;

}

.left-top:hover,
.right-top:hover,
.right-bottom:hover,
.left-bottom:hover {
    transform: scale(1.07);
}

.left-top {
    left: -70%;
    top:  3%;
}

.right-top {
    left: 70%;
    top: 3%;
}

.right-bottom {
    left: 70%;
    top: 80%;
}

.left-bottom {
    left: -70%;
    top: 80%;
}

.left-top-circle,
.right-top-circle,
.right-bottom-circle,
.left-bottom-circle {
    position: relative;   
    background-color: #fff;
    width: 114px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 2px 3px 0.5px #37383a;
}

.left-top-circle{
    left: 81%;    
}


.left-bottom-circle {
    left: 81%;
}

.left-top-circle img,
.right-top-circle img,
.right-bottom-circle img,
.left-bottom-circle img {
    width: 70%;
    display: block;
    position: absolute;
    top: 15%;
    left: 12%;
}

.left-top-text,
.right-top-text,
.right-bottom-text,
.left-bottom-text {
    position: relative;
    padding: 8px;
    width:475px;
   
}

.left-top-text {
    left: -27%;
}

.right-top-text {
    left: 9%;
}

.right-bottom-text {
    left: 9%;
    top: 80%;
}

.left-bottom-text {
    left: -27%;
}

.left-top-text h3,
.right-top-text h3,
.right-bottom-text h3,
.left-bottom-text h3 {
    text-align: right;
    color: #263c41;
    opacity: .9;
    font-size: 22px;
}

.right-top-text h3,
.right-bottom-text h3{
    text-align: left;
}

.left-top-text p,
.right-top-text p,
.right-bottom-text p,
.left-bottom-text p {
    margin-top: 30px;
    color: #979dac;
    font-weight: bold;
    line-height: 1.4;
    text-align: justify;
    font-size: 16px;
}